.cstm-options{
  display: contents;
}
.cstm-response{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
td.cstm-options a{
  margin: 4px;
}
.cstm-title{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal!important; 
}